<div th:fragment="panel">
  <header class="header bg-dark">
    <div class="topbar">

      <div class="navbar-tools">
        <div class="utilities-container">
          <div class="utilities">
            <!-- Learning -->
            <div class="item item-notifications dropdown">

              <div class="dropdown-toggle  rounded-1 " id="learn" data-toggle="dropdown" aria-expanded="false" role="button" data-bs-toggle="dropdown" >
                <span class="sr-only">Learning</span>
                <span class="pe-icon pe-7s-study icon" data-toggle="tooltip" data-placement="bottom" title="Учеба" style="font-size: 40px;"></span>
              </div>

              <ul class="dropdown-menu dropdown-menu-dark shadow-lg p-3 mb-5 bg-body border rounded-5" aria-labelledby="learn" style="width: 100px;">
                <li><a class="dropdown-item rounded-2" href="/learn_action"><i class="pe-icon pe-7s-tools"></i>    Learn action</a></li>
                <li><a class="dropdown-item rounded-2" href="/learn_map"><i class="pe-icon pe-7s-graph1"></i>    Learn Map</a></li>
                <li><a class="dropdown-item rounded-2" href="/peer_to_peer"><i class="pe-icon pe-7s-id"></i>    Peer to Peer</a></li>
                <li><a class="dropdown-item rounded-2" href="/problems"><i class="pe-icon pe-7s-settings"></i>    Problems</a></li>
              </ul>

            </div>
            <!-- Progress -->
            <div class="item item-notifications dropdown">

              <div class="dropdown-toggle  rounded-1 " id="progress" data-toggle="dropdown" aria-expanded="false" role="button" data-bs-toggle="dropdown" >
                <span class="sr-only">Lang</span>
                <span class="pe-icon pe-7s-vector icon" data-toggle="tooltip" data-placement="bottom" title="Progress" style="font-size: 40px;"></span>

              </div>


              <ul class="dropdown-menu dropdown-menu-dark shadow-lg p-3 mb-5 bg-body border rounded-5" aria-labelledby="progress" style="width: 100px;">
                <li><a class="dropdown-item rounded-2" href="#"><i class="pe-icon pe-7s-science"></i>    Tribe tournament</a></li>
                <li><a class="dropdown-item rounded-2" href="#"><i class="pe-icon pe-7s-rocket"></i>    Tasks progress</a></li>
                <li><a class="dropdown-item rounded-2" href="#"><i class="pe-icon pe-7s-medal"></i>    Points</a></li>
              </ul>

            </div>
            <!-- Projects -->
            <div class="item item-notifications dropdown">

              <div class="dropdown-toggle  rounded-1 " id="projects" data-toggle="dropdown" aria-expanded="false" role="button" data-bs-toggle="dropdown" >
                <span class="sr-only">Lang</span>
                <span class="pe-icon pe-7s-plugin icon" data-toggle="tooltip" data-placement="bottom" title="Project" style="font-size: 40px;"></span>

              </div>


              <ul class="dropdown-menu dropdown-menu-dark shadow-lg p-3 mb-5 bg-body border rounded-5" aria-labelledby="projects" style="width: 100px;">
                <li><a class="dropdown-item rounded-2" href="#"><i class="pe-icon pe-7s-tools"></i>    Настройки</a></li>
                <li><a class="dropdown-item rounded-2" href="#"><i class="pe-icon pe-7s-graph1"></i>    Резюме</a></li>
                <li><a class="dropdown-item rounded-2" href="#"><i class="pe-icon pe-7s-id"></i>    Профиль</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item rounded-2" href="/logout"><i class="pe-icon pe-7s-settings"></i>    Выйти</a></li>
              </ul>

            </div>
            <!-- Interesting -->
            <div class="item item-notifications dropdown">

              <div class="dropdown-toggle  rounded-1 " id="inters" data-toggle="dropdown" aria-expanded="false" role="button" data-bs-toggle="dropdown" >
                <span class="sr-only">Lang</span>
                <span class="pe-icon pe-7s-diamond icon" data-toggle="tooltip" data-placement="bottom" title="Interesting" style="font-size: 40px;"></span>

              </div>


              <ul class="dropdown-menu dropdown-menu-dark shadow-lg p-3 mb-5 bg-body border rounded-5" aria-labelledby="inters" style="width: 100px;">

                <li><a class="dropdown-item rounded-2" href="/news/add"><i class="pe-icon pe-7s-tools"></i>    add article</a></li>
                <li><a class="dropdown-item rounded-2" href="/news/add"><i class="pe-icon pe-7s-tools"></i>    update article</a></li>
                <li><a class="dropdown-item rounded-2" href="/news/add"><i class="pe-icon pe-7s-tools"></i>    delete article</a></li>
                <li><hr class="dropdown-divider"></li>

                <li><a class="dropdown-item rounded-2" href="/news/add"><i class="pe-icon pe-7s-tools"></i>    add post</a></li>
                <li><a class="dropdown-item rounded-2" href="/news/add"><i class="pe-icon pe-7s-tools"></i>    update post</a></li>
                <li><a class="dropdown-item rounded-2" href="/news/add"><i class="pe-icon pe-7s-tools"></i>    delete post</a></li>
                <li><hr class="dropdown-divider"></li>

                <li><a class="dropdown-item rounded-2" href="/news/add"><i class="pe-icon pe-7s-tools"></i>    add Hackaton</a></li>
                <li><a class="dropdown-item rounded-2" href="/news/add"><i class="pe-icon pe-7s-tools"></i>    update Hackaton</a></li>
                <li><a class="dropdown-item rounded-2" href="/news/add"><i class="pe-icon pe-7s-tools"></i>    delete Hackaton</a></li>
              </ul>

            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>