<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <meta charset="UTF-8">
        <title th:text="${title}"></title>
        <!-- CSS only -->
        <div th:insert="blocks/sys/css :: css"></div>
</head>
    <body>
    <!--================================ Navigation ==================================-->
        <div class="sticky-top">
            <!--Fragment Header-->
            <div th:insert="blocks/header/header :: header"></div>
            <!--Fragment Social menu-->
            <div th:insert="blocks/header/header :: menu"></div>
        </div>
    <!--================================ Content  ==================================-->
    <div class="bg-light">
        <div class="container-fluid border" style="padding: 50px 50px 0 100px">

            <!-- Video Fragment -->
            <div class="row shadow-lg p-3 mb-5 bg-dark opacity-75 rounded-5">
                <!-- Menu -->
                <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
                    <ul class="nav justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">Algorithms</a>
                        </li>
                        <li class="nav-item disabled">
                            <a class="nav-link" aria-current="page" href="#">HTML/CSS</a>
                        </li>
                        <li class="nav-item disabled">
                            <a class="nav-link" href="#">JavaScript</a>
                        </li>
                        <li class="nav-item disabled">
                            <a class="nav-link" href="#">Java</a>
                        </li>
                        <li class="nav-item disabled">
                            <a class="nav-link" href="#">C#</a>
                        </li>
                        <li class="nav-item disabled">
                            <a class="nav-link" href="#">C++</a>
                        </li>
                        <li class="nav-item disabled">
                            <a class="nav-link" href="#">Python</a>
                        </li>
                        <li class="nav-item disabled">
                            <a class="nav-link" href="#">Swift</a>
                        </li>
                        <li class="nav-item disabled">
                            <a class="nav-link disabled">Kotlin</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row shadow-lg p-3 mb-5 bg-body border rounded-5">

                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 shadow-lg p-3 mb-5 bg-body border rounded-5">

                    <iframe width="300" height="250" src="https://www.youtube.com/embed/QLhqYNsPIVo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 shadow-lg p-3 mb-5 bg-body border rounded-5">

                    <iframe width="300" height="250" src="https://www.youtube.com/embed/SKwB41FrGgU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 shadow-lg p-3 mb-5 bg-body border rounded-5">

                    <iframe width="300" height="250" src="https://www.youtube.com/embed/PUpmV2ieIHA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 shadow-lg p-3 mb-5 bg-body border rounded-5">

                    <iframe width="300" height="250" src="https://www.youtube.com/embed/Nb5mW1yWVSs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 shadow-lg p-3 mb-5 bg-body border rounded-5">

                    <iframe width="300" height="250" src="https://www.youtube.com/embed/QLhqYNsPIVo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 shadow-lg p-3 mb-5 bg-body border rounded-5">

                    <iframe width="300" height="250" src="https://www.youtube.com/embed/QLhqYNsPIVo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 shadow-lg p-3 mb-5 bg-body border rounded-5">

                    <iframe width="300" height="250" src="https://www.youtube.com/embed/QLhqYNsPIVo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                </div>
            </div>
        </div>
    </div>

        <!--=====================Footer====================================== -->
        <div th:insert="blocks/footer/footer :: footer" class="footer" ></div>
    <div th:insert="blocks/sys/js :: js"></div>
    </body>
</html>