<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <meta charset="UTF-8">
        <title th:text="${title}"></title>
        <!-- CSS only -->
        <div th:insert="blocks/sys/css :: css"></div>
</head>
    <body>
    <!--================================ Navigation ==================================-->
        <div class="sticky-top">
            <!--Fragment Header-->
            <div th:insert="blocks/header/header :: header"></div>
            <!--Fragment Social menu-->
            <div th:insert="blocks/header/header :: menu"></div>
        </div>
    <!--================================ Content  ==================================-->
    <div class="bg-light">
        <div class="container-fluid border" style="padding: 50px 50px 0 100px">

            <!-- Video Fragment -->
            <div class="row shadow-lg p-3 mb-5 bg-dark opacity-75 rounded-5">
                <!-- Menu -->
                <div role="tabpanel">
                    <ul class="nav nav-bar mb-4 rounded-5 bg-dark opacity-75" role="tablist">
                        <li class="nav-item rounded-5"><a href="#level_1" data-bs-toggle="collapse">HTML/CSS</a></li>
                        <li class="nav-item"><a href="#level_2" data-bs-toggle="collapse">JS</a></li>
                        <li class="nav-item"><a href="#level_3">C++</a></li>
                        <li class="nav-item"><a href="#level_4">Python</a></li>
                        <li class="nav-item"><a href="#level_5">Java</a></li>
                        <li class="nav-item"><a href="#level_6">C#</a></li>
                        <li class="nav-item"><a href="#level_7">Kotlin</a></li>
                        <li class="nav-item"><a href="#level_8">Swift</a></li>
                        <li class="nav-item"><a href="#level_9">C</a></li>
                        <li class="nav-item"><a href="#algorithms" data-bs-toggle="collapse">Algorithms</a></li>
                        <li class="nav-item"><a href="#level_11">SQL</a></li>
                        <li class="nav-item"><a href="#level_12">PHP</a></li>
                        <li class="nav-item"><a href="#level_13">Linux</a></li>
                        <li class="nav-item"><a href="#level_14">Docker</a></li>
                        <li class="nav-item"><a href="#level_15">Git</a></li>
                    </ul>
                </div>
            </div>
            <div class="tab-pane collapse accordion-collapse" id="algorithms">

                <div class="row shadow-lg p-3 mb-5 bg-body border rounded-5">


                    <div class="accordion accordion-flush" id="algorithms_lecture">
                        <!-- Linux #1-->
                        <div class="accordion-item">

                            <h2 class="accordion-header" id="algor_1">
                                <button class="accordion-button collapsed border rounded-5"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#algo_1"
                                        aria-expanded="false"
                                        aria-controls="algo_1">
                                    <p class="lead">
                                        <code>Day #1</code> "Лекция №1. Асимптотическая сложность алгоритмов, тестирование."
                                    </p>
                                </button>
                            </h2>

                            <div id="algo_1"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="flush-headingOne"
                                 data-bs-parent="#accordionFlushExample">

                                <div class="accordion-body">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 shadow-lg p-3 mb-5 bg-body border rounded-5">

                                        <iframe width="1000" height="1000"
                                                src="https://www.youtube.com/embed/QLhqYNsPIVo"
                                                title="Лекция №1"
                                                frameborder="0"
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                allowfullscreen>
                                        </iframe>

                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>



                    <!--<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 shadow-lg p-3 mb-5 bg-body border rounded-5">

                        <iframe width="300" height="250" src="https://www.youtube.com/embed/SKwB41FrGgU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 shadow-lg p-3 mb-5 bg-body border rounded-5">

                        <iframe width="300" height="250" src="https://www.youtube.com/embed/PUpmV2ieIHA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 shadow-lg p-3 mb-5 bg-body border rounded-5">

                        <iframe width="300" height="250" src="https://www.youtube.com/embed/Nb5mW1yWVSs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 shadow-lg p-3 mb-5 bg-body border rounded-5">

                        <iframe width="300" height="250" src="https://www.youtube.com/embed/QLhqYNsPIVo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 shadow-lg p-3 mb-5 bg-body border rounded-5">

                        <iframe width="300" height="250" src="https://www.youtube.com/embed/QLhqYNsPIVo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 shadow-lg p-3 mb-5 bg-body border rounded-5">

                        <iframe width="300" height="250" src="https://www.youtube.com/embed/QLhqYNsPIVo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    </div>-->

                </div>
            </div>

        </div>
    </div>

        <!--=====================Footer====================================== -->
        <div th:insert="blocks/footer/footer :: footer" class="footer" ></div>
    <div th:insert="blocks/sys/js :: js"></div>
    </body>
</html>