<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <meta charset="UTF-8">
    <title>Title</title>
        <!-- CSS only -->
        <div th:insert="blocks/sys/css :: css"></div>
        <link rel="stylesheet" type="text/css" href="css/messanger.css">
</head>
    <body>
    <!--================================ Navigation ==================================-->
        <div class="sticky-top">
            <!--Fragment Header-->
            <div th:insert="blocks/header/header :: header"></div>
            <!--Fragment Social menu-->
            <div th:insert="blocks/header/header :: menu"></div>
        </div>
    <!--================================ Content  ==================================-->
    <div class="bg-light " style="padding: 20px 10px 0 85px">
        <div class="container-fluid border shadow-lg p-3 mb-5 bg-body rounded-5 " style="padding: 50px 50px 0 100px">
            <!--Fragment -->
            <div class="row">
                <!--Left part-->
                <div class="col-xs-5 col-sm-5 col-md-3 col-lg-3 col-xl-3 bg-dark shadow-lg p-3 mb-5 bg-body rounded-5 " style="padding: 50px 50px 0 100px" >
                    <div class="my-3 p-3 bg-body rounded shadow-sm">
                        <h6 class="border-bottom pb-2 mb-0">Messenger</h6>

                        <div class="d-flex text-muted pt-3">
                            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
                            <p class="pb-3 mb-0 small lh-sm border-bottom">
                                <strong class="d-block text-gray-dark">@username</strong>
                                Some representative placeholder content, with some information about this user. Imagine this being some sort of status update, perhaps?
                            </p>
                        </div>

                        <div class="d-flex text-muted pt-3">
                            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#e83e8c"></rect><text x="50%" y="50%" fill="#e83e8c" dy=".3em">32x32</text></svg>

                            <p class="pb-3 mb-0 small lh-sm border-bottom">
                                <strong class="d-block text-gray-dark">@username</strong>
                                Some more representative placeholder content, related to this other user. Another status update, perhaps.
                            </p>
                        </div>

                        <div class="d-flex text-muted pt-3">
                            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#6f42c1"></rect><text x="50%" y="50%" fill="#6f42c1" dy=".3em">32x32</text></svg>

                            <p class="pb-3 mb-0 small lh-sm border-bottom">
                                <strong class="d-block text-gray-dark">@username</strong>
                                This user also gets some representative placeholder content. Maybe they did something interesting, and you really want to highlight this in the recent updates.
                            </p>
                        </div>

                        <div class="d-flex text-muted pt-3">
                            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#6f42c1"></rect><text x="50%" y="50%" fill="#6f42c1" dy=".3em">32x32</text></svg>

                            <p class="pb-3 mb-0 small lh-sm border-bottom">
                                <strong class="d-block text-gray-dark">@username</strong>
                                This user also gets some representative placeholder content. Maybe they did something interesting, and you really want to highlight this in the recent updates.
                            </p>
                        </div>
                        <div class="d-flex text-muted pt-3">
                            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#6f42c1"></rect><text x="50%" y="50%" fill="#6f42c1" dy=".3em">32x32</text></svg>

                            <p class="pb-3 mb-0 small lh-sm border-bottom">
                                <strong class="d-block text-gray-dark">@username</strong>
                                This user also gets some representative placeholder content. Maybe they did something interesting, and you really want to highlight this in the recent updates.
                            </p>
                        </div>

                        <div class="d-flex text-muted pt-3">
                            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#6f42c1"></rect><text x="50%" y="50%" fill="#6f42c1" dy=".3em">32x32</text></svg>

                            <p class="pb-3 mb-0 small lh-sm border-bottom">
                                <strong class="d-block text-gray-dark">@username</strong>
                                This user also gets some representative placeholder content. Maybe they did something interesting, and you really want to highlight this in the recent updates.
                            </p>
                        </div>

                        <div class="d-flex text-muted pt-3">
                            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#6f42c1"></rect><text x="50%" y="50%" fill="#6f42c1" dy=".3em">32x32</text></svg>

                            <p class="pb-3 mb-0 small lh-sm border-bottom">
                                <strong class="d-block text-gray-dark">@username</strong>
                                This user also gets some representative placeholder content. Maybe they did something interesting, and you really want to highlight this in the recent updates.
                            </p>
                        </div>

                        <div class="d-flex text-muted pt-3">
                            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#6f42c1"></rect><text x="50%" y="50%" fill="#6f42c1" dy=".3em">32x32</text></svg>

                            <p class="pb-3 mb-0 small lh-sm border-bottom">
                                <strong class="d-block text-gray-dark">@username</strong>
                                This user also gets some representative placeholder content. Maybe they did something interesting, and you really want to highlight this in the recent updates.
                            </p>
                        </div>

                        <div class="d-flex text-muted pt-3">
                            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#6f42c1"></rect><text x="50%" y="50%" fill="#6f42c1" dy=".3em">32x32</text></svg>

                            <p class="pb-3 mb-0 small lh-sm border-bottom">
                                <strong class="d-block text-gray-dark">@username</strong>
                                This user also gets some representative placeholder content. Maybe they did something interesting, and you really want to highlight this in the recent updates.
                            </p>
                        </div>

                        <div class="d-flex text-muted pt-3">
                            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#6f42c1"></rect><text x="50%" y="50%" fill="#6f42c1" dy=".3em">32x32</text></svg>

                            <p class="pb-3 mb-0 small lh-sm border-bottom">
                                <strong class="d-block text-gray-dark">@username</strong>
                                This user also gets some representative placeholder content. Maybe they did something interesting, and you really want to highlight this in the recent updates.
                            </p>
                        </div>

                        <div class="d-flex text-muted pt-3">
                            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#6f42c1"></rect><text x="50%" y="50%" fill="#6f42c1" dy=".3em">32x32</text></svg>

                            <p class="pb-3 mb-0 small lh-sm border-bottom">
                                <strong class="d-block text-gray-dark">@username</strong>
                                This user also gets some representative placeholder content. Maybe they did something interesting, and you really want to highlight this in the recent updates.
                            </p>
                        </div>

                        <div class="d-flex text-muted pt-3">
                            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#6f42c1"></rect><text x="50%" y="50%" fill="#6f42c1" dy=".3em">32x32</text></svg>

                            <p class="pb-3 mb-0 small lh-sm border-bottom">
                                <strong class="d-block text-gray-dark">@username</strong>
                                This user also gets some representative placeholder content. Maybe they did something interesting, and you really want to highlight this in the recent updates.
                            </p>
                        </div>

                    </div>
                </div>
                <!--Right part-->
                <div class="col-xs-7 col-sm-7 col-md-9 col-lg-9 col-xl-9  bg-light shadow-lg p-3 mb-5 bg-body rounded-5 ">
                    <!--Chat Window-->
                    <div class="container">
                        <div class="screen">
                            <div class="message__list">
                                <img class="bot__image" src="https://images.unsplash.com/photo-1510227272981-87123e259b17?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&s=3759e09a5b9fbe53088b23c615b6312e">
                                <div class="message__item message__item--bot">
                                    <span class="message message--bot">Olá</span>
                                </div>
                            </div>
                            <div class="message__list">
                                <div class="message__item message__item--user">
                                    <span class="message message--user">Olá mundo!</span>
                                </div>
                                <div class="message__item message__item--user">
                                    <span class="message message--user">Never ending circles</span>
                                </div>

                        </div>
                    </div>
                    <!--Form input message-->
                    <div>
                        <form>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!--=====================Footer====================================== -->
        <div th:insert="blocks/footer/footer :: footer" class="footer" ></div>
    <div th:insert="blocks/sys/js :: js"></div>
    </body>
</html>