<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <meta charset="UTF-8">
        <title th:text="${title}"></title>
        <!-- CSS only -->
        <div th:insert="blocks/sys/css :: css"></div>
        <link rel="stylesheet" type="text/css" href="css/messanger.css">
</head>
    <body>
    <!--================================ Navigation ==================================-->
        <div class="sticky-top">
            <!--Fragment Header-->
            <div th:insert="blocks/header/header :: header"></div>
            <!--Fragment Social menu-->
            <div th:insert="blocks/header/header :: menu"></div>
        </div>
    <!--================================ Content  ==================================-->
    <div class="bg-light " style="padding: 20px 10px 0 85px; ">
        <div class="container-fluid border shadow-lg p-3 mb-5 bg-success rounded-5 " style="padding: 50px 50px 0 100px; height: 600px;">
            <!--Fragment -->
            <div class="row" style="padding: 20px 20px 20px 20px; height: 600px;">
                <!--Left part-->
                <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 col-xl-3 bg-dark shadow-lg p-3 mb-5 bg-body rounded-5 " style="padding: 20px 20px 20px 20px; height: 600px;" >
                    <div class="my-3 p-3 bg-body rounded shadow-sm" >
                        <div class="row">
                        <div class="item item-notifications dropdown col-3">

                            <div class="dropdown-toggle  rounded-1 " id="learn" data-toggle="dropdown" aria-expanded="false" role="button" data-bs-toggle="dropdown" >
                                <span class="sr-only">Learning</span>
                                <span class="pe-icon pe-7s-menu icon" data-toggle="tooltip" data-placement="bottom" title="Учеба" style="font-size: 40px;"></span>
                            </div>


                            <ul class="dropdown-menu dropdown-menu-dark shadow-lg p-3 mb-5 bg-body border rounded-5" aria-labelledby="learn" style="width: 100px;">
                                <li><a class="dropdown-item rounded-2" href="/learn_action"><i class="pe-icon pe-7s-tools"></i>    Learn action</a></li>
                                <li><a class="dropdown-item rounded-2" href="/learn_map"><i class="pe-icon pe-7s-graph1"></i>    Learn Map</a></li>
                                <li><a class="dropdown-item rounded-2" href="/peer_to_peer"><i class="pe-icon pe-7s-id"></i>    Peer to Peer</a></li>
                                <li><a class="dropdown-item rounded-2" href="/problems"><i class="pe-icon pe-7s-settings"></i>    Problems</a></li>
                            </ul>

                        </div>

                        <div class="search-container col-9 rounded-3">
                            <form id="main-search" class="main-search" action="/search" method="get">
                                <div  class="main-search-input-wrapper" style="display: block;">
                                    <input type="text" class="input main-search-input form-control" name="q" value placeholder="Search">
                                </div>
                            </form>
                        </div>
                        </div>
                        <div class="container border shadow-lg p-3 mb-2 rounded-5 ">
                            <div class="d-flex text-muted pt-3">
                                <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
                                <p class="pb-3 mb-0 small lh-sm border-bottom">
                                    <strong class="d-block text-gray-dark">@username</strong>
                                    Some representative placeholder content, with some information about this user. Imagine this being some sort of status update, perhaps?
                                </p>
                            </div>
                        </div>

                        <div class="container border shadow-lg p-3 mb-5 rounded-5 ">
                            <div class="d-flex text-muted pt-3">
                                <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
                                <p class="pb-3 mb-0 small lh-sm border-bottom">
                                    <strong class="d-block text-gray-dark">@username</strong>
                                    Some representative placeholder content, with some information about this user. Imagine this being some sort of status update, perhaps?
                                </p>
                            </div>
                        </div>

                        <div class="container border shadow-lg p-3 mb-5 rounded-5 ">
                            <div class="d-flex text-muted pt-3">
                                <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
                                <p class="pb-3 mb-0 small lh-sm border-bottom">
                                    <strong class="d-block text-gray-dark">@username</strong>
                                    Some representative placeholder content, with some information about this user. Imagine this being some sort of status update, perhaps?
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 "></div>
                <!--Right part-->
                <div class="col-xs-7 col-sm-7 col-md-8 col-lg-8 col-xl-8  bg-light shadow-lg p-3 mb-5 bg-body rounded-5 " style="padding: 20px 20px 20px 20px; height: 600px;">
                    <!--Chat Window-->
                    <div class="container">
                        <div class="screen">
                            <div class="message__list">
                                <img class="bot__image" src="https://images.unsplash.com/photo-1510227272981-87123e259b17?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&s=3759e09a5b9fbe53088b23c615b6312e">
                                <div class="message__item message__item--bot">
                                    <span class="message message--bot">Olá</span>
                                </div>
                            </div>
                            <div class="message__list">
                                <div class="message__item message__item--user">
                                    <span class="message message--user">Olá mundo!</span>
                                </div>
                                <div class="message__item message__item--user">
                                    <span class="message message--user">Never ending circles</span>
                                </div>

                        </div>
                    </div>
                    <!--Form input message-->
                    <div>
                        <form>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!--=====================Footer====================================== -->
        <div th:insert="blocks/footer/footer :: footer" class="footer" ></div>
    <div th:insert="blocks/sys/js :: js"></div>
    </body>
</html>