<div th:fragment="points">
    <h2 class="display-4">Достижения</h2>
    <br>
    <p class="lead"> Данная диаграмма показывает твой прогресс в обучении.
        Внимательно следи за ее изменениями. Не хватайся за все темы подряд.

    </p>
    <ul>
        <li><strong>Помни, что если твоя учебная активность будет низкая навыки будут падать</strong></li>
        <li><strong>Если твоя учебная активность за 3 месяца будет равна нулю твой профиль будет удален, а диаграмма обнулена</strong></li>
        <li><strong>Чтобы зафиксировать свой прогресс, тебе нужно пройти все дерево по специализации</strong></li>
    </ul>
    <p class="lead">На стажировку выходят 100% участников Школы 21, и 95%
        из них уже получили предложения о постоянной работе.</p>
</div>